<!--EPISODE-->
<a name="%EPNUM"></a>
<div class="item">
  <div class="label">
    <p class="listen"o>
      Listen:<a href="./%MEDIA/%TITLE_%EPNUM.ogg">
	Ogg %EPNUM</a>
      &#124; <a href="./%MEDIA/%TITLE_%EPNUM.opus">
	Opus %EPNUM</a></p>
    <p>%DATE</p>
  </div>

  <div class="copy">
    %NOTE
    <dl>
      <dt>
	%SHA
      </dt>
    </dl>

    <dl>
      <dt>
	Links&#58;
      </dt>
      %LINK
    </dl>
  </div>
</div>
